<header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Issue Tracking System</span>
        <div class="mdl-layout-spacer"></div>
        <!-- Tabs -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Issues</a>
            <a class="mdl-navigation__link" href="/milestone/list.html">Milestones</a>
            {{^ loginedUser}}
            <a class="mdl-navigation__link" href="/user/login.html">login</a>
            <a class="mdl-navigation__link" href="/user/join.html">join</a>
            {{/ loginedUser}}
            {{# loginedUser}}
            <a class="mdl-navigation__link" href="/login">logout</a>
            <a class="mdl-navigation__link" href="/user/{{id}}/form">edit profile</a>
            {{/ loginedUser}}
        </nav>
    </div>
</header>