<header class="mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Issue Tracking System</span>
    <div class="mdl-layout-spacer"></div>
    <!-- Tabs -->
    <nav class="mdl-navigation">
      <form action="/" method="get">
        <button type="submit" class="mdl-navigation__link" style="background-color: rgb(96,125,139)">
          Issues
        </button>
      </form>
      <form action="/milestones" method="get">
        <button type="submit" class="mdl-navigation__link" style="background-color: rgb(96,125,139)">
          Milestones
        </button>
      </form>
      <form action="/labels" method="get">
        <button type="submit" class="mdl-navigation__link" style="background-color: rgb(96,125,139)">
          Labels
        </button>
      </form>
      {{#loginedUser}}
      <form action="/users/logout" method="post">
        <input type="hidden" name="_method" value="put">
        <button type="submit" class="mdl-navigation__link" style="background-color: rgb(96,125,139)">
          Logout
        </button>
      </form>
      <form action="/users/{{id}}" method="get">
        <button type="submit" class="mdl-navigation__link" style="background-color: rgb(96,125,139)">
          My
        </button>
      </form>
      {{/loginedUser}}
      {{^loginedUser}}
      <form action="/users/login" method="get">
        <button type="submit" class="mdl-navigation__link" style="background-color: rgb(96,125,139)">
          Login
        </button>
      </form>
      <form action="/users/join" method="get">
        <button type="submit" class="mdl-navigation__link" style="background-color: rgb(96,125,139)">
          Join
        </button>
      </form>
      {{/loginedUser}}
    </nav>
  </div>
</header>