<header class="mdl-layout__header mdl-layout__header--waterfall">
	<div class="mdl-layout__header-row">
		<!-- Title -->
		<span class="mdl-layout-title">Issue Tracking System</span>
		<div class="mdl-layout-spacer"></div>
		<!-- Tabs -->
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="/labels">Labels</a>
			<a class="mdl-navigation__link" href="/">Issues</a> 
			<a class="mdl-navigation__link" href="/mileStones">Milestones</a>
				{{^loginedUser}}
			<a class="mdl-navigation__link" href="/users/loginForm">login</a> <a
				class="mdl-navigation__link" href="/users/form">join</a>
				{{/loginedUser}}
				{{#loginedUser}}
				<form id="logout" method='post' action="/users/logout">
  					<!-- form elements -->
  					<button class="mdl-navigation__link" type="submit">logout</button>  
				</form>
				<a class="mdl-navigation__link" href="/users/{{id}}/form">my</a>
				{{/loginedUser}}
		</nav>
	</div>
</header>