.errorMsg {
	color: #ffffff;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px #000000, 1px 0 black, 0 -1px black;
}

.ml-38per {
	margin-left: 38%;
}

.dp-ib {
	display: inline-block !important;
}

.add-comment-textarea{
	margin-top: 0px;
    margin-bottom: 0px;
    resize: none;
    height: 17px;
    background-color: #eeeeee;
    width: 100%;
    border: 0;
    overflow: hidden;
    font: 400 20px Arial;
}