.errorMsg {
	color: #ffffff;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px #000000, 1px 0 black, 0 -1px black;
}

.ml-38per {
	margin-left: 38%;
}

.dp-ib {
	display: inline-block !important;
}