<!doctype html>
<html lang="en">
<head>
{{> include/header}}
</head>
<body>
	<div class="issues issues--wrap mdl-layout mdl-js-layout is-upgraded">
		{{> include/navigation}}
		<main class="mdl-layout__content">

		<div class="issues__posts mdl-grid">
			<div class="issues-card-wide mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title" style="height:80px;">
              		<h2 class="mdl-card__title-text mdl-color-text--grey-800">Issues</h2>
				</div>
				<a href="/issues/form"
					class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-modal">
					<i class="material-icons">add</i>
				</a>
				<div class="mdl-card__supporting-text">
					<ul class="issue-list mdl-list">

						
						{{#issues}}
							<li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48" src="https://avatars1.githubusercontent.com/u/7744966?v=3&u=1bd7d2e72800c0d5a1a5a2e04da851d30b3c13c7&s=140" alt="cca-company">
									</a>  
									<a href="/issues/{{id}}">
									    <strong>{{title}}</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #8
									    
										
											
											    Open
											
											 
										
									    <relative-time datetime="2017-01-14" title="2017-01-14">2017-01-14</relative-time> 
									    by <a href="" aria-label="View all issues opened by javajigi" class="tooltipped tooltipped-s muted-link">{{writer.userId}}</a>
									</span>
								</span> 
								<span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="0">comment</span>
								</span>
							</li>
						
						{{/issues}}
					</ul>
				</div>
			</div>
		</div>
		<footer class="mdl-mini-footer">
			<div class="mdl-mini-footer--left-section">
				<div class="mdl-logo mdl-color-text--grey-600">
					Proudly powered by <a href="https://github.com/Byeol">Byeol</a>
				</div>
			</div>
		</footer> </main>
		<div class="mdl-layout__obfuscator"></div>
	</div>
{{> include/footer}}
</body>
</html>
