<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Issue Tracking System</title>
{{> include/header}}
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/tinymce.css">
</head>
<body>
	<div class="issues issues--wrap mdl-layout mdl-js-layout is-upgraded">
		{{> include/topNav}}
		<main class="mdl-layout__content">

		<div class="issues__posts mdl-grid">
			<div class="issues-card-wide mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title" style="height: 80px;">
					<h2 class="mdl-card__title-text mdl-color-text--grey-800">Issues</h2>
				</div>
				{{#sessionedUser}}
				<a href="/issue/write" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-modal">
					<i class="material-icons">add</i>
				</a>
				{{/sessionedUser}}
				<div class="mdl-card__supporting-text">
					<ul class="issue-list mdl-list">
					
					{{#issues}}
						<li class="mdl-list__item mdl-list__item--two-line">
						<span class="mdl-list__item-primary-content">
						<!--  
						<a>
						<img class="mdl-list__item-avatar" height="48" width="48" src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
						</a>
						 -->
						<a href="/issue/{{id}}"> <strong>{{subject}}</strong></a>
						<span class="mdl-list__item-sub-title"><!--  #1 Open  --> 
						<relative-time datetime="2017-01-14" title="2017-01-14">{{regDate}}</relative-time>
						by {{writer}}
						<!-- by <a href="" aria-label="View all issues opened by javajigi" class="tooltipped tooltipped-s muted-link">javajigi</a> -->
						</span>
						</span>
						<span class="mdl-list__item-secondary-content">
						<!-- 
						<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">comment</span>
						 -->
						</span>
						</li>
						{{/issues}}
						
					</ul>
				</div>
			</div>
		</div>
		{{> include/bottomNav}} 
		</main>
		{{> include/footer}}
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.min.js"></script>
		<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
		<script src="/js/main.js"></script>
		<div class="mdl-layout__obfuscator"></div>
	</div>
</body>
</html>
