{{#each issues }}
<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
        <a>
            <img class="mdl-list__item-avatar" height="48" width="48"
                 src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140"
                 alt="javajigi">
        </a>
        <a href="/issue/show.html">
            <strong>{{title}}</strong>
        </a>
        <span class="mdl-list__item-sub-title">
            #1 Open
            <relative-time datetime="2017-01-14" title="2017-01-14">2017-01-14</relative-time>
            by
            <a href="" aria-label="View all issues opened by {{author.userId}}"
                  class="tooltipped tooltipped-s muted-link">{{author.userId}}</a>
        </span>
    </span>
    <span class="mdl-list__item-secondary-content">
        <span class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">comment</span>
    </span>
</li>
{{/each}}
