{{#partial "style"}}
<link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
      rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
<link rel="stylesheet" href="/css/styles.css">
{{/partial}}

{{#partial "div"}}
<div class="issues issues--wrap mdl-layout mdl-js-layout has-drawer is-upgraded">
{{/partial}}

{{#partial "contents"}}
<div class="issues-back">
    <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back"
       role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
    </a>
</div>
<div class="issues__posts mdl-grid">
    {{#issue}}
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__menu">
            <a href="/issue/{{id}}/form" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="issue_update">
                <i class="material-icons">edit</i>
            </a>
            <a href="/api/issue/{{id}}" id="issues-menu-lower-right"
               class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">delete</i>
            </a>
        </div>
        <div class="mdl-card__title mdl-color-text--grey-50">
            <i class="material-icons">check_circle</i>
            <h2 class="mdl-card__title-text">{{contents.subject}}</h2>
        </div>

        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <img class="minilogo" height="48" width="48"
                 src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
            <div style="margin-right:20px;">
                <div class="author-text">
                    <strong>
                        <a href="https://github.com/javajigi" class="author">{{writer.userId}}</a>
                    </strong>
                </div>
                <span>{{formattedCreateDate}}</span>
            </div>
            <a href="/issue/1/setOpen" class="mdl-button mdl-button--colored mdl-js-button">
                Close issue
            </a>

            <div class="section-spacer"></div>

            <button id="milestone-menu" class="mdl-button mdl-js-button" value="/api/issue/{{id}}/milestone">
                Milestone
            </button>
            <!-- milestone list -->
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="milestone-menu" id="milestone_menu_ul">
            </ul>

            <button id="label_menu" class="mdl-button mdl-js-button" value="/api/issue/{{id}}/label">
                Label
            </button>
            <!-- label list -->
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="label_menu" id="label_menu_ul">
            </ul>

            <button id="assignee-menu" class="mdl-button mdl-js-button">
                Assignee
            </button>
            <!-- label list -->
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="assignee-menu">
                {{#users}}
                <li class="mdl-menu__item" value="xxz">
                    <a class="assignee" href="/issue/{{issue.id}}/assignees/{{id}}">{{userId}}</a>
                </li>
                {{/users}}
            </ul>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            <p>{{contents.comment}}</p>
        </div>
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments" id="comments">

            <!-- comments start -->
            {{#answers.answers}}
            <div class="comment mdl-color-text--grey-700">
                <header class="comment__header">
                    <img class="comment__avatar2" height="48" width="48"
                         src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt={{writer.userId}}>
                    <div class="comment__author">
                        <strong>
                            <a>{{writer.userId}}</a>


                            <span>{{contents}} {{formattedCreateDate}}</span>


                        </strong>
                    </div>
                </header>
                <hr>
            </div>

            {{/answers.answers}}

            <!--<div class="comment mdl-color-text&#45;&#45;grey-700">-->
                <!--<header class="comment__header">-->
                    <!--<img class="comment__avatar2" height="48" width="48"-->
                         <!--src="https://avatars1.githubusercontent.com/u/7744966?v=3&u=1bd7d2e72800c0d5a1a5a2e04da851d30b3c13c7&s=140"-->
                         <!--alt="cca-company">-->
                    <!--<div class="comment__author">-->
                        <!--<strong>-->
                            <!--<a>cca-company</a>-->


                            <!--<span>comment new issue! on 2017-01-14</span>-->


                        <!--</strong>-->
                    <!--</div>-->
                <!--</header>-->
            <!--</div>-->
            <!--<hr>-->


            <!--<div class="comment mdl-color-text&#45;&#45;grey-700">-->
                <!--<header class="comment__header">-->
                    <!--<img class="comment__avatar2" height="48" width="48"-->
                         <!--src="https://avatars3.githubusercontent.com/u/14341811?v=3&s=400" alt="진저애비">-->
                    <!--<div class="comment__author">-->
                        <!--<strong>-->
                            <!--<a>진저애비</a>-->


                            <!--upload file <a href="upload file" target="_blank">[view]</a>-->


                        <!--</strong>-->
                    <!--</div>-->
                <!--</header>-->
            <!--</div>-->
            <!--<hr>-->


            <!-- comments end -->
        </div>
        <form action="/issue/1/uploadFile" enctype="multipart/form-data" method="POST">
            <div style="margin:10px;">
                <input type="file" name="file" id="file"/>
                <button class="mdl-button" type="submit">upload file</button>
            </div>
        </form>
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
            <form class="answer-write" action="/api/issues/{{id}}/answers" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea rows=5 class="mdl-textfield__input" id="comment" name="comment"></textarea>
                    <label for="comment" class="mdl-textfield__label">Leave a comment</label>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                </button>
            </form>
        </div>
    </div>
    {{/issue}}
</div>
{{/partial}}

{{#partial "footer"}}
<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
        <div class="mdl-logo mdl-color-text--grey-600">Proudly powered by <a href="https://github.com/Byeol">Byeol</a>
        </div>
    </div>
</footer>
{{/partial}}

{{#partial "script"}}
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
{{/partial}}

<script type="text/template" id="answerTemplate">
<div class="comment mdl-color-text--grey-700">
    <header class="comment__header">
        <img class="comment__avatar2" height="48" width="48"
             src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt={0}>
        <div class="comment__author">
            <strong>
                <!--<a>{{writer}}</a>-->
                <a>{0}</a>


                <!--<span>{{contents}} {{formattedCreateDate}}</span>-->
                <span>{1} {2}</span>


            </strong>
        </div>
    </header>
</div>
<hr>
</script>

{{>base}}

