{{#partial "comment"}}
<div class="issues-back">
    <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" subject="go back"
       role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
    </a>
</div>
{{#issue}}
<div class="issues__posts mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__menu">
            <a href="/issue/{{id}}/form" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">edit</i>
            </a>
            <form style="display:inline-block" class="form-delete" action="/issue/{{id}}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button class="mdl-button mdl-js-button mdl-button--icon" type="submit">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </div>
        <div class="mdl-card__title mdl-color-text--grey-50">
            <i class="material-icons">check_circle</i>
            <h2 class="mdl-card__title-text">{{subject}}</h2>
        </div>

        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <img class="minilogo" height="48" width="48"
                 src="/img/{{writer.id}}" alt="{{userId}}">
            <div style="margin-right:20px;">
                <div class="author-text">
                    <strong>
                        <a href="https://github.com/{{userId}}" class="author">{{userId}}</a>
                    </strong>
                </div>
                <span>{{formattedCreateDate}}</span>
            </div>
            <a href="/issue/1/setOpen" class="mdl-button mdl-button--colored mdl-js-button">
                Close issue
            </a>

            <div class="section-spacer"></div>

            <button id="milestone-menu" class="mdl-button mdl-js-button">
                Milestone
            </button>
            <!-- milestone list -->
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect milestones"
                for="milestone-menu" >
                <div id="select-milestones" about="/api/issue/{{id}}/milestones"></div>
            </ul>

                    <button id="label-menu" class="mdl-button mdl-js-button">
                Label
            </button>
            <!-- label list -->
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="label-menu">
                <div id="select-labels" about="/api/issue/{{id}}/labels"></div>
            </ul>

            <button id="assignee-menu" class="mdl-button mdl-js-button">
                Assignee
            </button>
            <!-- label list -->
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="assignee-menu">
                <div id="select-assignees" about="/api/issue/{{id}}/assignees"></div>
            </ul>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            <p>{{comment}}</p>
        </div>
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments" id="comment_list">

            <!-- comments start -->
            {{#answers}}
            <div class="comment mdl-color-text--grey-700 answer_form" id="answer_{{id}}">
                <header class="comment__header">
                    <img class="comment__avatar2" height="48" width="48"
                         src="/img/{{user.id}}" alt="{{userId}}">
                    <div class="comment__author">
                        <strong>
                            <a>{{userId}}</a>


                            <span>{{comment}}
                                <a href="/img/download/{{imageFile.id}}">{{imageFile.originName}}</a>
                                on  {{formattedCreateDate}}</span>

                            <a href="/api/issue/{{issue.id}}/answers/{{id}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect updateFrom_answer" id="updateForm_{{id}}">
                                <i class="material-icons">edit</i>
                            </a>
                            <form style="display:inline-block" class="submit-write-delete" id="delete_{{id}}" action="/api/issue/{{issue.id}}/answers/{{id}}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="mdl-button mdl-js-button mdl-button--icon" type="submit">
                                    <i class="material-icons">delete</i>
                                </button>
                            </form>

                        </strong>
                    </div>
                </header>
                <hr>
            </div>
            {{/answers}}

            <!-- comments end -->
        </div>
        <form class="submit-file-answer" action="/api/issue/{{id}}/answers/uploadFile" enctype="multipart/form-data" method="POST">
            <div style="margin:10px;">
                <input type="file" name="file" id="file"/>
                <button class="mdl-button" type="submit">upload file</button>
            </div>
        </form>
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
            <form class="submit-write-answer" action="/api/issue/{{id}}/answers" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea rows=5 class="mdl-textfield__input" id="comment" name="comment"></textarea>
                    <label for="comment" class="mdl-textfield__label">Leave a comment</label>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="commentbtn">
                    <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                </button>
            </form>
        </div>
    </div>
</div>

<script type="text/template" id="answerTemplate">
    <div class="comment mdl-color-text--grey-700 answer_form" id="answer_{4}">
        <header class="comment__header">
            <img class="comment__avatar2" height="48" width="48"
                 src="/img/{5}" alt="{0}">
            <div class="comment__author">
                <strong>
                    <a>{0}</a>

                    <span class="answer_comments">{1} {6} on {2}</span>

                    <a href="/api/issue/{3}/answers/{4}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect updateFrom_answer" id="updateForm_{4}">
                        <i class="material-icons">edit</i>
                    </a>
                    <form style="display:inline-block" class="submit-write-delete" id="delete_{4}" action="/api/issue/{3}/answers/{4}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="mdl-button mdl-js-button mdl-button--icon" type="submit">
                            <i class="material-icons">delete</i>
                        </button>
                    </form>

                </strong>
            </div>
        </header>
        <hr>
    </div>
</script>

<script type="text/template" id="answerUpdateTemplate">
    <div id="answerUpdateForm_{2}">
        <form class="submit-file-answer" action="/issue/{3}/answers/uploadFile" enctype="multipart/form-data" method="POST">
            <div style="margin:10px;">
                <input type="file" name="file" id="update_file"/>
                <button class="mdl-button" type="submit">upload file</button>
            </div>
        </form>
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
            <form class="submit-write-update" action="{0}" method="POST">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label for="comment" class="mdl-textfield__label">Leave a comment</label>
                    <br>
                    <textarea rows=5 class="mdl-textfield__input" id="update_comment" name="comment">{1}</textarea>
                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon update_answer" id="updateAnswerBtn">
                    <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                </button>
            </form>
        </div>
    </div>
</script>


<script type="text/template" id="menuTemplate">
<li class="mdl-menu__item {4}">
    <a href="/issue/{0}/{3}/{1}">{2}</a>
</li>

</script>
{{/issue}}
{{/partial}}
{{> base }}

