


<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Issue Tracking System</title>

<link
	href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
	rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/additional.css">
</head>
<body>
	<div
		class="issues issues--wrap mdl-layout mdl-js-layout has-drawer is-upgraded">

		{{> include/navigation}}

		<main class="mdl-layout__content">
		<div class="issues-back">
			<a href="/"
				class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn"
				title="go back" role="button"> <i class="material-icons"
				role="presentation">arrow_back</i>
			</a>
		</div>
		<div class="issues__posts mdl-grid">
			<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
				{{#owner}}
				<div class="mdl-card__menu">
					<a href="/issues/{{id}}/form"
						class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">edit</i>
					</a>
					<form name="issueForm" class="dp-ib" action="/issues/{{id}}"
						method="post">
						<input type="hidden" name="_method" value="delete" /> <a href="#"
							onclick="javascript:document.issueForm.submit();"
							id="issues-menu-lower-right"
							class="mdl-button mdl-js-button mdl-button--icon"> <i
							class="material-icons">delete</i>
						</a>
					</form>
				</div>
				{{/owner}} {{#issue}}
				<div class="mdl-card__title mdl-color-text--grey-50">
					<i class="material-icons">check_circle</i>
					<h2 class="mdl-card__title-text">{{subject}}</h2>
				</div>

				<div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
					<img class="minilogo" height="48" width="48"
						src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140"
						alt="javajigi">
					<div style="margin-right: 20px;">
						<div class="author-text">
							<strong> <a href="https://github.com/javajigi"
								class="author">{{writer.name}}</a>
							</strong>
						</div>
						<span>{{formattedCreateDate}}</span>
					</div>
					<a href="/issue/1/setOpen"
						class="mdl-button mdl-button--colored mdl-js-button"> Close
						issue </a>

					<div class="section-spacer"></div>

					<button id="milestone-menu" class="mdl-button mdl-js-button">
						Milestone</button>
					<!-- milestone list -->
					<ul
						class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
						for="milestone-menu">
						{{#mileStones}}
						<li class="mdl-menu__item mdl-button--accent"><a
							class="mileStone-add-btn"
							href="/issues/{{issue.id}}/putInMileStone/{{id}}">{{subject}}</a>
						</li> {{/mileStones}}
					</ul>

					<button id="label-menu" class="mdl-button mdl-js-button">
						Label</button>
					<!-- label list -->
					<ul
						class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
						for="label-menu">
						{{#labels}}
						<li class="mdl-menu__item"><a class="label-add-btn"
							href="/issues/{{issue.id}}/addLabel/{{id}}">{{name}}</a></li>
						{{/labels}}
					</ul>

					<button id="assignee-menu" class="mdl-button mdl-js-button">
						Assignee</button>
					<!-- label list -->
					<ul
						class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
						for="assignee-menu">
						{{#users}}
						<li class="mdl-menu__item"><a class="assignee-add-btn"
							href="/issues/{{issue.id}}/appointAssignee/{{id}}">{{name}}</a></li>
						{{/users}}
					</ul>
				</div>
				<div class="mdl-color-text--grey-700 mdl-card__supporting-text">
					<p>{{comment}}</p>
				</div>

				<div class="comment-article mdl-color-text--primary-contrast mdl-card__supporting-text comments">
					
					<!-- attachments start -->
					{{#attachments}}
					<div class="comment mdl-color-text--grey-700">
		                <header class="comment__header">
		                  <img class="comment__avatar2" height="48" width="48" src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="{{writer.name}}">
							<div class="comment__author">
								<strong> <a>{{writer.name}}</a></strong>
								<div>upload file <a href="/api/attachments/{{id}}">[{{originalFileName}}]</a></div>
								<span>on {{formattedCreateDate}}</span>
							</div>
		                </header>
						<div>
								<ul class="article-util-list" style="display: inline-block;">
								<li style="display: inline-block;">
                                <a class="delete-comment" href="/api/issues/{{issue.id}}/answers/{{id}}">삭제</a>
								</li>
							</ul>
						</div>
		              <hr>
		             </div>
					{{/attachments}}
					<!-- attachments end-->
					<!-- comments start -->
					{{#answers}}
					<div class="comment mdl-color-text--grey-700">
						<header class="comment__header">
							<img class="comment__avatar2" height="48" width="48"
								src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140"
								alt="{{writer.name}}">
							<div class="comment__author">
								<strong> <a>{{writer.name}}</a> 
								<textarea class="add-comment-textarea" readonly="true" name="comment" id="comment">{{comment}}</textarea>
								<span>on {{formattedCreateDate}}</span>
								</strong>
							</div>
						</header>
						<div>
							<ul class="article-util-list" style="display: inline-block;">
								<li style="display: inline-block;">
								<a	class="update-comment"	href="/api/issues/{{issue.id}}/answers/{{id}}">수정</a></li>
								<li style="display: inline-block;">
                                <a class="delete-comment" href="/api/issues/{{issue.id}}/answers/{{id}}">삭제</a>
								</li>
							</ul>
						</div>
						<hr>
					</div>
					{{/answers}}
					<!-- comments end -->
				</div>
				<form class="file-upload" action="/api/attachments/{{id}}" enctype="multipart/form-data"
					method="POST">
					<div style="margin: 10px;">
						<input class="upload-input" type="file" name="file" id="file" />
						<button class="mdl-button" type="submit">upload file</button>
					</div>
				</form>
				<div
					class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
					<form class="answer-write" action="/api/issues/{{id}}/answers"
						method="POST">
						<div
							class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<textarea rows=5 class="mdl-textfield__input" id="comment"
								name="comment"></textarea>
							<label for="comment" class="mdl-textfield__label">Leave a
								comment</label>
						</div>
						<button type="submit"
							class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
							<i class="material-icons" role="presentation">check</i><span
								class="visuallyhidden">add comment</span>
						</button>
					</form>
				</div>
				{{/issue}}
			</div>
		</div>
		<footer class="mdl-mini-footer">
			<div class="mdl-mini-footer--left-section">
				<div class="mdl-logo mdl-color-text--grey-600">
					Proudly powered by <a href="https://github.com/Byeol">Byeol</a>
				</div>
			</div>
		</footer> </main>
		<div class="mdl-layout__obfuscator"></div>
	</div>

	<script type="text/template" id="answerTemplate">
	<div class="comment mdl-color-text--grey-700">
                <header class="comment__header">
                  <img class="comment__avatar2" height="48" width="48" src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="{0}">
					<div class="comment__author">
						<strong> <a>{0}</a> 
							<textarea class="add-comment-textarea" readonly="true" name="comment", id="comment">{1}</textarea>
							<span>on {2}</span>
						</strong>
					</div>
                </header>
				<div>
						<ul class="article-util-list" style="display: inline-block;">
							<li style="display: inline-block;">
							<a	class="update-comment"	href="/api/issues/{3}/answers/{4}">수정</a></li>
						<li style="display: inline-block;">
                             <a class="delete-comment" href="/api/issues/{3}/answers/{4}">삭제</a>
						</li>
					</ul>
				</div>
              <hr>
              </div>
</script>
	<script type="text/template" id="uploadTemplate">
	<div class="comment mdl-color-text--grey-700">
                <header class="comment__header">
                  <img class="comment__avatar2" height="48" width="48" src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="{0}">
					<div class="comment__author">
						<strong> <a>{0}</a></strong> 
							<div>upload file <a  href="/api/attachments/{4}">[{1}]</a></div>
							<span>on {2}</span>
						</strong>
					</div>
                </header>
				<div>
						<ul class="article-util-list" style="display: inline-block;">
						<li style="display: inline-block;">
                             <a class="delete-comment" href="/api/issues/{3}/answers/{4}">삭제</a>
						</li>
					</ul>
				</div>
              <hr>
              </div>
</script>

	<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
